@media screen and (max-width: 1025px) {
  main section .service-color .service .service-items {
    column-gap: 50px;
  }
}
/* 768px tablet */
@media screen and (max-width: 769px) {
  header nav {
    width: 96%;
  }
  main section .home {
    margin: 100px auto;
    width: 90%;
  }
  main section .home .home-article h1 {
    font-size: 35px;
  }
  main section .service-color .service {
    width: 90%;
  }
  main section .service-color .service .service-items {
    column-gap: 20px;
  }
  main section .summary {
    margin-bottom: 90px;
    width: 90%;
  }
  footer .footer-logo {
    width: 96%;
  }
}
/* small tabs */
@media screen and (max-width: 581px) {
  main section .summary .summary-content {
    margin-bottom: 15px;
  }
}
/* mobile 425 */
@media screen and (max-width: 426px) {
  header nav {
    width: 98%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0;
  }
  header nav .header-logo img {
    width: 70px;
  }
  header nav .nav-links ul li {
    padding: 5px 0;
  }
  main section .home {
    margin: 100px auto 50px auto;
    width: 90%;
  }
  main section .home .home-article h1 {
    font-size: 25px;
  }
  main section .home .home-article h3 {
    font-size: 16px;
  }
  main section .service-color .service .service-header {
    margin-top: 40px;
  }
  main section .service-color .service .service-header h2 {
    font-size: 25px;
  }
  main section .service-color .service .service-header h3 {
    font-size: 15px;
  }
  main section .service-color .service .service-items {
    grid-template-columns: 1fr;
  }
  main section .service-color .service .service-items .service-card h2 {
    margin: 15px 0;
  }
  main section .service-color .service .service-items .service-card h4 {
    margin-bottom: 40px;
  }
  .spacer {
    height: 60px;
  }
  main section .summary {
    margin-bottom: 50px;
  }
  main section .summary .summary-header {
    margin-top: 30px;
  }
  main section .summary .summary-header h2 {
    font-size: 25px;
  }
  main section .summary .summary-header h4 {
    font-size: 16px;
  }
  main section .summary .summary-header .divider {
    margin-bottom: 30px;
  }
  main section .summary .summary-content {
    flex-direction: column;
  }
  main section .summary .summary-content .summary-img .img-correction {
    margin: 35px auto;
  }
  main section .summary .summary-content .summary-text {
    text-align: center;
  }
  footer .footer-logo {
    width: 98%;
  }
  footer .footer-logo img {
    width: 70px;
  }
}
/* mobile medium 375px */
@media screen and (max-width: 376px) {
  header nav {
    width: 100%;
  }
  header nav .header-logo img {
    width: 60px;
  }
  header nav .nav-links ul li {
    font-size: 15px;
  }
  main section .home {
    margin: 100px auto 25px auto;
  }
  main section .home .home-article h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  main section .home .home-article h3 {
    font-size: 14px;
  }
  main section .service-color .service .service-header {
    margin-top: 30px;
  }
  main section .service-color .service .service-header h2 {
    font-size: 20px;
  }
  main section .service-color .service .service-items .service-card h4 {
    margin-bottom: 20px;
  }
  main section .service-color .service .service-items {
    row-gap: 10px;
  }
  main section .summary .summary-header h2 {
    font-size: 20px;
  }
  main section .summary .summary-header h4 {
    font-size: 14px;
  }
  main section .summary .summary-content {
    margin-bottom: 10px;
  }
  main section .summary .summary-content .summary-text h6 {
    font-size: 17px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 317px) {
  header nav .nav-links ul li {
    font-size: 11px;
  }
}
